body, html {
  margin: 0px;
  background: #000000;
  color: #dddddd;
  overflow: hidden;
}

* {
  font-family: 'Miriam Libre', sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;

  li {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
}