.camera {
    float: left;
    overflow: hidden;
    position: relative;
    display: block;

    width: calc(50% - 1px);
    margin-left: 1px;

    &:first-child {
        width: calc(50% - 1px);
        margin-right: 1px;
        margin-left: 0;
    }

    video {
        width: 100%;
        margin: 0;
        display: block;
        filter: blur(5px);
        opacity: 0.3;
    }

    canvas {
        top: 0;
        width: 100%;
        height: calc(100% - 60px);
        margin: 0;
        display: block;
        border: 1px solid $color-leaf-dark;
        position: absolute;
    }

    &:before {
        position: absolute;
        content: 'camera offline';
        top: calc(50% - 50px);
        width: 100%;
        text-align: center;
        font-size: $fs-xxl;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.2em;;
    }

    &.playing {
        video {
            filter: blur(0);
            opacity: 1;
        }

        &:before {
            display: none;
        }
    }

    .controls {
        text-align: center;
        background-color: $color-cloud;
        overflow: hidden;
        margin-top: 2px;

        .state {
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 4px;
            padding: 5px 20px;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0;
            text-shadow: 1px 1px #000000;

            &.active {
                opacity: 1;
            }

            .symbol {
                float: right;
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                margin-left: 15px;
                animation: blinker 1s linear infinite;
            }

            @keyframes blinker {
                50% {
                    opacity: 0.0;
                }
            }
        }

        .detection-state {
            top: 50px;
            border: 2px solid $color-leaf-dark;

            .symbol {
                background-color: $color-leaf-dark;
            }
        }

        .recording-state {
            top: 10px;
            border: 2px solid $color-red;

            .symbol {
                background-color: $color-red;
            }
        }

        button {
            &:first-of-type {
                border-left: 2px solid $color-ocean-bright;
            }

            font-size: $fs-m;
            display: inline;
            text-align: center;
            margin: 0;
            background-color: $color-cloud-dark;
            color: #ffffff;
            text-transform: uppercase;
            border-right: 2px solid $color-ocean-bright;
            text-shadow: 1px 1px $color-ocean-bright;

            &:hover {
                background-color: $color-leaf-bright;
            }

            &:active {
                background-color: $color-leaf-dark;
            }

            &.active {
                background-color: $color-leaf-dark;
            }

        }
    }

    .direction {
        bottom: 25%;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: $color-ocean-dark;
        border: 2px solid $color-cloud-dark;
        transform: rotate(0deg);
        transform-origin: center center;
        box-shadow: 0 0 100px rgba(0, 0, 0, 1);
        z-index: 1000000;

        &:after {
            content: '';
            background-color: $color-matte-bright;
            width: 20px;
            height: 20px;
        }

        &.is_mover {
            background-color: $color-terra;
            border: 2px solid $color-matte-bloom;

            &:before {
                content: 'MOVER';
                position: absolute;
                width: 100%;
                text-align: center;
                line-height: 50px;
                top: 0;
                font-size: $fs-xs;
            }

            &.left, &.right {
                &:before {
                    display: none;
                }
            }

            .arrow {
                path {
                    fill: $color-matte-bloom;
                }
            }
        }

        .arrow {
            position: absolute;
            left: -15px;
            top: -80px;
            width: 80px;
            height: 80px;
            color: white;

            path {
                fill: $color-matte-brighter;
            }
        }

        &.left, &.right {
            .arrow {
                display: none;
            }
        }

        .spinner {
            position: absolute;
            left: -4px;
            top: -4px;
            width: 60px;
            height: 60px;
            color: white;
            transform-origin: center;
            display: none;
            animation: inherit;

            @keyframes spin-left {
                to {
                    transform: rotate(-360deg);
                }
            }
            @keyframes spin-right {
                to {
                    transform: rotate(360deg);
                }
            }

            &.left {
                animation: spin-left 1.5s linear infinite;
                display: block;

                .icon {
                    transform: scaleX(-1);
                }
            }

            &.right {
                animation: spin-right 1.5s linear infinite;
                display: block;
            }

            path {
                fill: #ffffff;
            }
        }
    }

    .osd {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100000;

        button {
            width: $fs-jesus;
            font-size: $fs-xs;
            line-height: $fs-xs;
            display: inline-block;
            text-align: center;
            background-color: $color-matte-bright;
            color: #ffffff;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-shadow: 1px 1px $color-ocean-bright;
            border: 2px solid $color-matte-darker;
            margin: 10px 0 0 10px;

            &:hover {
                background-color: $color-leaf-bright;
            }

            &:active {
                background-color: $color-leaf-dark;
            }

            &.active {
                background-color: $color-leaf-dark;
            }
        }
    }
}

.stage {
    &.camera-front, &.camera-rear {
        .camera {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: calc(100% - 4px);
        }
    }

    &.camera-front {
        .cameras {
            [data-id=camera-front] {
                display: block;
            }

            [data-id=camera-rear] {
                display: none;
            }
        }
    }

    &.camera-rear {
        .cameras {
            [data-id=camera-front] {
                display: none;
            }

            [data-id=camera-rear] {
                display: block;
            }
        }
    }
}
