.mqtt-monitor {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background-color: $color-matte-darkest;
    display: none;

    &.active {
        display: block;
    }

    .monitor-row {
        .monitor-topic {
            float: left;
            width: 100px;
            display: inline-block;
            padding-left: 10px;
        }

        .monitor-message {
            display: inline-block;
            font-weight: 100;
            letter-spacing: 0.2em;
        }
    }
}

.stage {
    &.camera-front, &.camera-rear {
        .mqtt-monitor {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100px;
            z-index: 1;
        }
    }
}
