.speed {
    width: calc(33.3333% - 20px - 20px);
    float: left;
    height: 100%;
    position: relative;
    margin: 0 20px;

    div {
        width: 33.3333%;
        float: left;
        height: 100%;
        position: relative;

        .bar {
            position: absolute;
            background-color: $color-leaf;
            width: 100%;
            display: block;
            top: 50%;
            z-index: 1;
            transform-origin: top;
            transform: rotateZ(180deg);
        }

        .value {
            position: absolute;
            top: calc(50% - 80px);
            width: 100%;
            text-align: center;
            z-index: 2;

            b {
                display: inline-block;
                font-size: $fs-huge;
                color: $color-bright;
                background-color: $color-matte-doom;
                padding: 0 20px 30px 20px;
                border-radius: 10px;
                border: 2px solid $color-cloud-dark;

            }
        }

        label {
            z-index: 3;
            position: absolute;
            top: calc(50% + 10px);
            left: 0;
            width: 100%;
            text-align: center;
            display: block;
            font-weight: 100;
            text-transform: uppercase;
        }

    }

    .left {
        width: calc(40% - 10px);
        margin-right: 10px;
    }

    .throttle {
        margin-right: 10px;
        width: 20%;

        .bar {
            background-color: $color-ocean;
        }

        .value {
            top: calc(50% - 80px);

            b {
                font-size: $fs-xl;
                font-weight: 100;
                border: 2px solid $color-cloud-dark;
                padding: 5px 10px 5px 10px;
            }
        }

        label {
            font-size: $fs-xs;
            top: calc(50% + 15px);
        }
    }

    .right {
        width: calc(40% - 10px);
    }

    .direction {
        top: -75px;
        position: absolute;
        width: 100px;
        height: 100px;
        left: calc(50% - 50px);
        border-radius: 50px;
        background-color: $color-ocean-dark;
        border: 2px solid $color-cloud-dark;
        transform: rotate(0deg);
        transform-origin: center center;
        box-shadow: 0 0 100px rgba(0, 0, 0, 1);

        &:after {
            content: '';
            background-color: #ffffff;
            width: 20px;
            height: 20px;
        }

        &.is_mover {
            background-color: $color-leaf-bright;
            border: 2px solid $color-leaf-dark;
        }

        .arrow {
            position: absolute;
            left: 10px;
            top: -80px;
            width: 80px;
            height: 80px;
            color: white;

            path {
                fill: #ffffff;
            }
        }

        &.left, &.right {
            .arrow {
                display: none;
            }
        }

        .spinner {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 60px;
            height: 60px;
            color: white;
            transform-origin: center;
            display: none;
            animation: inherit;

            @keyframes spin-left {
                to {
                    transform: rotate(-360deg);
                }
            }
            @keyframes spin-right {
                to {
                    transform: rotate(360deg);
                }
            }

            &.left {
                animation: spin-left 1.5s linear infinite;
                display: block;

                .icon {
                    transform: scaleX(-1);
                }
            }

            &.right {
                animation: spin-right 1.5s linear infinite;
                display: block;
            }

            path {
                fill: #ffffff;
            }
        }
    }

}
