.speed {
    width: calc(33.3333% - 20px - 20px);
    float: left;
    height: 100%;
    position: relative;
    margin: 0 20px;

    div {
        width: 33.3333%;
        float: left;
        height: 100%;
        position: relative;

        .bar {
            position: absolute;
            background-color: $color-leaf;
            width: 100%;
            display: block;
            top: 50%;
            z-index: 1;
            transform-origin: top;
            transform: rotateZ(180deg);
        }

        .value {
            position: absolute;
            top: calc(50% - 80px);
            width: 100%;
            text-align: center;
            z-index: 2;

            b {
                display: inline-block;
                font-size: $fs-huge;
                color: $color-bright;
                background-color: $color-bg-primary-2;
                padding: 20px;
                border-radius: 10px;
            }
        }


        label {
            z-index: 3;
            position: absolute;
            top: calc(50% + 24px);
            left: 0;
            width: 100%;
            text-align: center;
            display: block;
            font-weight: 100;
            text-transform: uppercase;
        }

    }

    .left {
        width: calc(40% - 10px);
        margin-right: 10px;
    }

    .throttle {
        margin-right: 10px;
        width: 20%;

        .bar {
            background-color: $color-ocean;
        }

        .value {
            top: calc(50% - 60px);

            b {
                font-size: $fs-xxl;
                font-weight: 100;
            }
        }

        label {
            font-size: $fs-xs;
            top: calc(50% + 30px);
        }
    }

    .right {
        width: calc(40% - 10px);
    }

}
